/* Regole generali */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  color: white;
  text-decoration: none;
  margin-right: 5px;
}

a:hover {
  text-decoration: underline;
}


/* Regole header */

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 50px;
  background-color: rgb(255, 105, 0);
}

.main-nav, .last-nav {
  width: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 10px;
}

.main-nav {
  text-align: center;
}

.logo {
  width: 20%;
}

.store-section, .private-section, .logo:hover{
  cursor: pointer;
}

/* Regole main */

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* Regole righe prodotti */

.row {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 0;
  justify-content: space-between;
}

/* Regole prodotto */

article {
  margin-top: 60px;
}

.save-article {
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 0;
  padding: 10px;
  background-color: white;
}

.save-article:hover {
  color: red;
}

.article-image {
  position: relative;
}

.label {
  color: white;
  position: absolute;
  bottom: 50px;
}

.discount {
  padding: 5px;
  background-color: red;
}

.quality {
  padding: 5px;
  background-color: green;
}

.price {
  color: red;
}

.original-price {
  text-decoration: line-through;
}

.product-first-image {
  height: 350px;
}

.product-second-image {
  height: 350px;
  display: none;
}

.article-image:hover .product-first-image{
  cursor: pointer;
  display: none;
}

.article-image:hover .product-second-image{
  cursor: pointer;
  display: inline-block;
}

/* Regole footer */

footer {
  width: 100%;
  color: white;
  background-color: rgb(26, 26, 26);
  padding-bottom: 10px;
}

.social {
  text-align: center;
}


/* DEBUG */
/* header {
  background-color: aqua;
} */

/* .main-nav {
  background-color: brown;
} */

/* footer {
  background-color: aqua;
} */
/* 
.row {
  height: 500px;
  background-color: violet;
} */